<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.peng3.big.big.myappbar">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity"
                  android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>


                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"

                  android:theme="@style/AppTheme.NoActionBar"

                  android:parentActivityName=".MainActivity"
            >

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".MainActivity" />
        </activity>

        <activity android:name=".Main2Activity"

                  android:theme="@style/AppTheme.NoActionBar"

                  android:parentActivityName=".MainActivity"
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".MainActivity" />
        </activity>

        <activity android:name=".WebViewActivity"

                  android:theme="@style/MyAppTheme"

                  android:parentActivityName=".MainActivity"
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".MainActivity" />
        </activity>

        <activity android:name=".WebViewFullScreenActivity"

                  android:theme="@style/FullAppTheme"

                  android:parentActivityName=".MainActivity"
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".MainActivity" />
        </activity>

        <activity android:name=".WebViewFullWithToolBarActivity"

                  android:theme="@style/MyAppThemeWithTool"

                  android:parentActivityName=".MainActivity"
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".MainActivity" />
        </activity>


        <activity android:name=".WebViewNoNestedActivity"

                  android:theme="@style/MyAppTheme"

                  android:parentActivityName=".MainActivity"
            >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".MainActivity" />
        </activity>


    </application>

</manifest>